@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
body .container-fluid {
    padding: 0;
}

 

/* navbar */

.navbar {
    background-color: rgba(91, 91, 91, 1) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .13rem;
}

.navbar-brand img{
    height: 5rem;
}

.navbar-nav li {
    padding-right: .65rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #aaaaaa;
}

/* end navbar */


footer {
    background-color: rgba(91, 91, 91, 1) !important;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 5%;
    text-decoration: none;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: #aaaaaa;
    text-decoration: none;
}

footer i {
    color: #fff;
}
footer i:hover {
    color: #aaaaaa;
}