@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
body .container-fluid {
    padding: 0;
}

 

/* navbar */

.navbar {
    background-color: rgba(91, 91, 91, 1) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .13rem;
}

.navbar-brand img{
    height: 4rem;
}

.navbar-nav li {
    padding-right: .65rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #aaaaaa;
}

/* end navbar */
/* hero img*/

.hero-img {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color:#fff; 
    position: relative;
    overflow: hidden;
}
/* end hero img */

/*heading*/

.heading-1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: #222222;
}

.sub-heading {
    text-transform: capitalize;
    color: #222222;

}
.button-text {
    justify-content: center;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.7rem;
}
.title a {
    color: #222222;
}
.title a:hover {
    color: #ffffff;
}
.title {
    position: absolute;
    top: 25%;
    left: 5%;
}
/* end heading*/

/* about setion */

.about-container {
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.about-heading {
    font-size: 4rem;
    text-transform: capitalize;
    color: #222222;
}

.about-hr {
    width: 33%;
    padding-bottom: 1%;
    border-top: .3rem solid #aaaaaa;
}

.about i {
    color: #404040;
    padding-bottom: 8%;
}

.about h2 {
    color: #222222;
    font-size: 2.2rem;
    line-height: 50px;
    text-transform: capitalize;
}

.about p {
    font-size: 1.4rem;
    color: #222222;
}
.om-oss-img {
    background-image: url(./images/om-oss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.our-ceo-heading {
    font-size: 4rem;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #222222;
}

.our-ceo-bio {
    font-size: 1.4rem;
    color: #222222;
    text-align: center;
}
.our-ceo-link {
    font-size: 1.2rem;
    color: #5b5b5b;
}

.our-ceo-link:hover {
    color: #aaaaaa;
    text-decoration: none;
}


/* end about setion */

/*service*/
.service-heading {
    font-size: 4rem;
    text-transform: capitalize;
    color: #222222;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.card {
    margin-top: 8%;
    margin-bottom: 6%;
    overflow: hidden; 
    height: 550px;
}
.card img {
    transition: all 2s ease;
}
.card:hover img {
    transform: scale(1.1);
}
.service-hr {
    width: 33%;
    padding-bottom: 1%;
    border-top: .3rem solid #aaaaaa;
}
.card-title {
    font-size: 1.6rem;
    color: #222222 !important;
    font-style: normal;
    text-transform: capitalize;
}

.card-text {
    font-size: 1.1rem !important;
    font-style: normal;
    text-transform: capitalize;
    color: #222222;
}
/*end service*/

.slider-heading {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: capitalize;
}


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0, 0.1);
    padding: 30px;
}

.get-in-touch .connect-header {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3rem;
    line-height: 48px;
    padding-bottom: 20px;
    color: #222222;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #404040;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus {
    outline: none;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    color: #222222;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    color: #404040;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;   
    width: 200px;
    cursor: pointer;
}


footer {
    background-color: rgba(91, 91, 91, 1) !important;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 5%;
    text-decoration: none;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: #aaaaaa;
    text-decoration: none;
}

footer i {
    color: #fff;
}
footer i:hover {
    color: #aaaaaa;
}
