@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
body .container-fluid {
    padding: 0;
}

 

/* navbar */

.navbar {
    background-color: rgba(91, 91, 91, 1) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .13rem;
}

.navbar-brand img{
    height: 4rem;
}

.navbar-nav li {
    padding-right: .65rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #aaaaaa;
}

/* end navbar */
/* hero img*/

.hero-img {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-color:#fff; 
    position: relative;
    overflow: hidden;
}
/* end hero img */

/*heading*/

.heading-1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: #222222;
}

.sub-heading {
    text-transform: capitalize;
    color: #222222;

}
.button-text {
    justify-content: center;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1.7rem;
}
.title a {
    color: #222222;
}
.title a:hover {
    color: #ffffff;
}
.title {
    position: absolute;
    top: 25%;
    left: 5%;
}
/* end heading*/

/* about setion */

.about-container {
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.about-heading {
    font-size: 4rem;
    text-transform: capitalize;
    color: #222222;
}

.about-hr {
    width: 33%;
    padding-bottom: 1%;
    border-top: .3rem solid #aaaaaa;
}

.about i {
    color: #404040;
    padding-bottom: 8%;
}




/* end about setion */

